<div class="container-fluid">
  <div class="content-wrapper ">
    <div class="col col-sm-12 d-flex justify-content-center">
      <img src="../assets/images/logo (1) 1.png" class="logo" alt="logo-image">
    </div>
    <div class="col col-sm-12 main-content">
      <div class="row">
        <span class="col col-lg-4 col-12 left-content">
          <span class="main-heading">
            Want to Earn With Us?
        </span>
        <span class="sub-heading">
          Become Our Partner
        </span>
        <span class="paragraph">
          Earn profits from our experience & help build awesome careers of students & graduates
        </span>
        <span class="list-content">
          <div class="list-logo1">
            <img src="../assets/images/Icon awesome-percentage.svg" class="per" alt="logo-image"> 
          </div>
          Upto 30% commissions for every successful referral
        </span>

        <span class="list-content2">
          <div class="list-logo2">
            <img src="../assets/images/Icon material-attach-money.svg" class="per" alt="logo-image"> 
          </div>
          Potential to earn upto Rs 3000 daily
        </span>
        
          <span class="col-3 col-lg-4 btn">
            <button class="btn">Our Works</button>
          </span>
          <span class="col-3 col-lg-4 btn2">
            <button class="btn">Know More</button>
          </span>
            
        </span>
        
        <span class="col col-lg-8 col-12 right-content">
          <img class="illustration col-sm-12" src="../assets/images/Illustration.png">
        </span>
      </div>
      
    </div>
    <div class="col col-12 div2">
      <div class="row">
        <div class="heading col-12 col-lg-12 ">
          <div class="row">
            <div class="col-lg-12 col-12 d-flex justify-content-center heading-line1 ">
              What is the
            </div>
            <div class="col-lg-12 col-12 d-flex justify-content-center heading-line2 ">
              Speciality Of Us?
            </div>
          </div>
        </div>
        <div class="card-wrapper col-lg-12">
          <div class="row">
            <div class="col col-12 col-lg-3 card">
              
                <img class="card-icon mt-1" src="../assets/images/Group (1).svg">
              
              <div class="card-content-wrapper">
                <div class="card-content-heading">
                  Partner
                </div>
                <div class="card-content-text">
                  Its free and easy start today Get up and running today
      
                </div>
              </div>
            </div>
            <div class="col col-12 col-lg-3 card">
          
                <img class="card-icon mt-5" src="../assets/images/15-Promotion (1).svg">
          
              <div class="card-content-wrapper mt-5">
                <div class="card-content-heading">
                  Promote
                </div>
                <div class="card-content-text">
                  Choose from our products and Services Advertise to your network Any blogger,influencer,social media channel, Content site,just link us and we will help you
                </div>
              </div>
            </div>
            <div class="col col-12 col-lg-3 card">
              
                <img class="card-icon mt-3" src="../assets/images/Group 2635.svg">
              
              <div class="card-content-wrapper">
                <div class="card-content-heading">
                  Earn
                </div>
                <div class="card-content-text">
                  Get upto 30% in commission on successfull referral You can also advertise with your competetive rates
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 div3">
      <img class="wheel" src="../assets/images/wheels.svg"/>
      <span class="join-now">Join Now</span>
     
      <img class="board" src="../assets/images/Asset 4@600x.png"/>
      
      
      <span class="col col-8 col-lg-4 form">
        <div class="form-content-wrapper">
          <div class="row">
            <span class="col col-6 ml-0">
              <p>
              First Name 
              </p>  
              <input type="text" class="input-ele" placeholder="Robert Lee">
            </span>
            <span class="col col-6">
              <p>
                Last Name 
              </p>
              
            <input type="text" class="input-ele" placeholder="Robert Lee">
            </span>
          </div>
          <div class="row mt-4 ml-0">
            <p>Your Email Address</p>
            <input type="email" class="input-ele" placeholder="kevin.jones@mail.com">
          </div>
          <div class="row mt-4 ml-0">
            <p>
              City 
            </p>
            <select class="input-ele">
              <option value="" selected disabled>select your city</option>
              <option value="Ahmedabad">Ahmedabad</option>
              <option value="Baroda">Baroda</option>
              <option value="Surat">Surat</option>
            </select>
          </div>
          <div class="row mt-4 ml-0">
            <p>Type Your message....</p>
            <textarea class="input-ele" rows="5" cols="100" placeholder="Lorem Ipsum is simply dummy text of the printing and...……."></textarea>
            
          </div>
          
          <div class="row  mt-4 ml-0">
            <button class="form-btn">Join Now</button>
          </div>
        </div>
        
      </span>
      
        <img  class="stair-per" src="../assets/images/strairs-person.svg">
    
      
      <span >
        <img class="glass-per" src="../assets/images/glass-per.svg">
      </span>
    </div>
    <div class="col col-sm-12 footer">
        <div class="row">
          <span class="col col-lg-4 col-12 left-content">
            <div class="row ">
              <span class="col col-12 col-lg-12 d-flex justify-content-center ft-line1">
                Any Questions ?
              </span>
              <span class="col col-12 col-lg-12 d-flex justify-content-center ft-line2">
                Ask Us
              </span>
              <span class="col col-12 col-lg-12 ft-list1">
                <img src="../assets/images/Icon feather-phone-call.svg" class="logo-image" alt="logo-image">  Call at +91-84691-49288
              </span>
              <span class="col col-4 col-lg-12 d-flex justify-content-center ft-list2">
                Or
              </span>
              <span class="col col-12 col-lg-12 ft-list3">
                <img src="../assets/images/Icon awesome-whatsapp.svg" class="logo-image" alt="logo-image">  WhatsApp at +91-84691-49288 
              </span>
            </div>
         
          </span>
          
          <span class="col col-lg-8 col-12 right-content d-flex justify-content-end">
            <img class="footer-illustration col-sm-12 mt-5" src="../assets/images/ask-us.svg">
          </span>
    </div>
</div>